[submodule "libraries/G35Arduino"]
	path = libraries/G35Arduino
	url = https://github.com/sowbug/G35Arduino.git
[submodule "Arduino-Makefile"]
	path = Arduino-Makefile
	url = https://github.com/sudar/Arduino-Makefile.git
